<div ng-controller="HeaderCtrl" class="header-block">
	<div class="left">
		Bienvenu, <b>{{nom_user}}</b>  Vous êtes à <b>{{ville_actu}}</b>
	</div>
	
	<div class="right">
		<ul>
			<div class="dropdown" ng-controller="HeaderCtrl">
		 		 <a class="dropdown-toggle btn btn-primary">
		   		 	Menu
		  		 </a>
			  	<ul class="dropdown-menu" role="menu">
				    <li ng-repeat="choice in items">
				      <a ng-click="menuFunc(choice)">{{choice}}</a>
				    </li>
			 	 </ul>
			</div>
		</ul>
	</div>
	
</div>