<form class="login form-horizontal">

	<div class="control-group">
		<label class="control-label">Votre identifiant: </label>
		<div class="controls">
			<input type="text" ng-model="nom">
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">Votre mot de passe: </label>
		<div class="controls">
			<input type="password" ng-model="pass">
		</div>
	</div>
	
	<div class="control-group">
	    <div class="controls">
	      <button type="submit" class="btn btn-primary" ng-click="checkLogin()">Se connecter</button>
	    </div>
  	</div>

</form>